@import reset
@import './normalize.css'

$bg-light: #eaebed

body, html
    box-sizing: border-box
    margin: 0
    padding: 0
    height: 100%
    min-width: 280px

#hamburger
    margin-right: 0.5em
    display: none

#navbar
    background-color: #d1d2d3 !important
    display: flex
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 999
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
    #menu
        display: flex
        justify-content: flex-end
        width: 350px
        margin-left: auto


.nav-link
    color: rgba(0, 0, 0, 0.7)

.active
    color: black


#content
    position: relative
    top: 36px
    .jumbo
        ul, li
            transition: width 0.5s ease-in

@media only screen and (max-width: 480px)
    #navbar
        position: fixed
        top: 0
        left: 0
        width: 100%
        z-index: 999
        #menu
            display: none
        #hamburger
            display: block
    #content
        .jumbo
            ul, li
                width: 100%
                margin: 0


.hidden
    display: none
    
.visible
    display: block

.menu-hidden
    transition: margin-left 150ms ease-in
    margin-left: 100%

.menu-visible
    transition: margin-left 150ms ease-in
    margin-left: 0

.nav-link
    color: black

    
#side-nav
    z-index: 999
    position: fixed
    top: 58px
    width: 100%
    height: 100%
    ul
        padding: 0
        height: 100%
        text-align: center
        background-color: $bg-light
        li 
            white-space: nowrap
            overflow: hidden
            margin: 1em 0
    ul:first-child
        padding-top: 1em

#content
    max-width: 900px
    width: 100%
    margin: 2.5em auto

.jumbo
    text-align: center
    padding: 2em
    margin: 0 1em
    border-radius: 0.5em
    background-color: $bg-light

#loadPostsBtn, #applySelectorBtn
    margin-top: 2em
    width: 200px

#addRowBtn
    margin-top: 0.75em
    float: right
    width: 140px

#table
    text-align: center

#content
    ul
        width: 75%
        margin: 0 auto
        a   
            font-weight: 401
            color: black

.index
    margin-top: 1em
    height: 200px
    display: flex
    flex-direction: column
    justify-content: center

.gray
    background-color: $bg-light

.white
    background-color: white